.cart_page {
    width: 1384px;
    margin: 0 auto;
}

.cart_page h2 {
    margin: 80px 0;
    font-size: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1.2px;
}